#storePanel(hidden).panel
	div
		h1 Store
			span.balance $#{balance.business}
		hr
		div
			input(type="text" name="name" placeholder="Name") 
			input(type="text" name="price" placeholder="Price") 
			input(type="text" name="postage" placeholder="Postage")  
			input#addNewGoods(type="button", value='CREATE')
		div
			table
						tbody
							each item,i in orderList
								tr
									case item.state
												when 'IN-Warehouse'
													td #{item.orderId}
													td #{item.name}
													td #{item.state}
													td #{item.price}
													td
														button(type="button",class="distribute")
															span DISTRIBUTE
												when 'distribute'
													td #{item.orderId}
													td #{item.name}
													td #{item.state}
													td #{item.price}
													td
														button(type="button",class="view")
															span VIEW
												
		#toolWrap
			span.fa.fa-trash-o.fa-2x
			p.hint DRAG HERE TO REMOVE
			#trashbin.sortable
