- var orderList = [{"orderId":"1","name": "sqrtthree","state":"close","price":"$89"},{"orderId":"2","name": "sqrtthree","state":"new","price":"$29"},{"orderId":"3","name": "sqrtthree","state":"arrived","price":"$129"}];
#buyerPanel(hidden).panel
	div
		h1 Buyer 
			span.balance $#{balance}
		hr
		div
			table
						tbody
							each item,i in orderList
								tr(class=(i % 2 == 0)?'odd':'even')
									td #{item.orderId}
									td #{item.name}
									td #{item.state}
									td #{item.price}
									td
										button(type="button",class="button_"+item.orderId)
											
											case item.state
												when 'new'
													span Buy
												when 'close'
													span VIEW
												when 'arrived'
													span CONFIRM
										
		
		#toolWrap
			span.fa.fa-trash-o.fa-2x
			p.hint DRAG HERE TO REMOVE
			#trashbin.sortable


