#courierPanel(hidden).panel
	div
		h1 Courier
			span.balance $#{balance.courier}
		hr
		div
			table
						tbody
							each item,i in orderList
								tr
									case item.state
												when 'distribute'
													td #{item.orderId}
													td #{item.name}
													td #{item.state}
													td #{item.price}
													td
														button(type="button",class="signOff")
															span Sign-off
												when 'confirmed'
													td #{item.orderId}
													td #{item.name}
													td #{item.state}
													td #{item.price}
													td
														button(type="button",class="view")
															span VIEW
		#toolWrap
			span.fa.fa-trash-o.fa-2x
			p.hint DRAG HERE TO REMOVE
			#trashbin.sortable
